body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Light background */
  }
  
<<<<<<< HEAD
  .app-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  main {
    flex: 1;
    padding: 20px;
  }
  
=======
>>>>>>> 0035beb419e070be2a5c9e4029e7733c2801d188
